#bottom_nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 15%;
}

#bottom_nav > div {
  display: flex;
  align-items: center;
  justify-content: center;
}


.swipe {
  position:relative;
  width: 35%;
  height: 6%;
  background-color: white;
  border-radius: 15px;
  top:35px;
}

.flashlight {
  width: 15%;
  height: 45%;
  background-color: white;
  border: 1px solid grey;
  border-radius: 50%;
  color: black;
  font-size: 28px;
}


.camera {
  width: 15%;
  height: 45%;
  background-color: white;
  border: 1px solid grey;
  border-radius: 50%; 
  font-size: 28px;
}

